$primary-color: #48d189;
$color-black: #333333;
$color-text: #30324b;
$color-white: #ffffff;
$color-bitcoin: #f7931a;
$color-ethereum: #505050;
$color-tether: #00a478;
$color-sidebar: #909198;

$color-success: #188f32;
$color-pending: #cc9600;
$color-failed: #cc4945;

$bg-color-success: #deffe5;
$bg-color-pending: #fffade;
$bg-color-failed: #fff3f3;

$nav-active: #002422;

$bg-color: #f8f8f8;

$font-family: "Mulish", sans-serif;
$box-shadow:  0px 1px 10px rgba(72, 209, 137, 0.1);
$box-shaodow-1: 0px 14px 13px #EFF2F7;
$border-radius: 10px;
