.settings {
  width: 100%;
  padding-bottom: 5rem;
  &_nav {
    width: 100%;
  }

  &_ul {
    padding: 0 0 1rem 0;
    margin: 0;

    list-style: none;
    @include flex(row, stretch, center);
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &_li {
    margin-right: 3rem;
    flex-shrink: 0;
    transition: background-color 3.5s ease-in-out;
    a {
      margin-left: 0 !important;
    }
  }

  &_active {
    background-color: $color-black;
    color: $color-white;
    border-radius: 100px;
    padding: 0.5rem;
  }

  &_pages {
    margin-top: 4rem;
  }
}
