.paymenttableresponsive {
  width: 100%;

  @include flex(column, initial, initial);

  &_item {
    // @include card;
    @include border(#e5e9f2);
    border-radius: 5px;
    padding: 1.8rem;
    // cursor: pointer;

    @include flex(row, space-between, center);
    margin-bottom: 2rem;

    & > div:last-of-type {
      transform: rotate(270deg);
    }
  }
}
